<?xml version="1.0" encoding="UTF-8"?>
<included>
    <appender name="JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/myapp/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/myapp/logs/app-%d{yyyyMMdd}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone><!-- KST -->
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS</pattern>
                </timestamp>
                <mdc/>
                <logLevel/>
                <pattern>
                    <pattern>{"app": "${app.name}"}</pattern>
                </pattern>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <loggerName>
                    <fieldName>class</fieldName>
                </loggerName>
                <message/>
                <stackTrace>
                    <fieldName>stack</fieldName>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxLength>2048</maxLength>
                        <rootCauseFirst>true</rootCauseFirst>
                        <maxDepthPerThrowable>10</maxDepthPerThrowable>
                        <shortenedClassNameLength>50</shortenedClassNameLength>
                        <inlineHash>false</inlineHash>
                        <exclude>java\.base\/jdk\.internal</exclude>
                        <exclude>sun\.reflect\..*\.invoke.*</exclude>
                        <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        <exclude>MDCTraceFilter\.doFilter</exclude>
                    </throwableConverter>
                </stackTrace>
                <callerData/>
            </providers>
        </encoder>
    </appender>
</included>
